body{
    background-color:#CFD2CF;
    margin: 0;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 1px;
    grid-auto-rows: minmax(50px, 10px);
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0%; 
    background-color: black;
    text-decoration: none;
  
  }
  a{
    text-decoration: none;
    color: white;
  }
  .one{
    display: flex;
    text-align: left;
    align-self: center;
    grid-column: 1 ;
    grid-row: 1;
    margin-top: 10px;
    font-weight: bold;
    color: blue;
  }
  
  
  .two {
    text-align: left;
    align-self: center;
    grid-column: 2 ;
    grid-row: 1 ;
    font-weight: bold
  }
  .three {
    text-align: left;
    align-self: center;
    grid-column: 3;
    grid-row: 1 ;
    font-weight: bold
  }
  .four {
    text-align: left;
    align-self: center;
    grid-column: 4;
    grid-row: 1;
    font-weight: bold
  }
  .five {
    text-align: left;
    align-self: center;
    grid-column: 5;
    grid-row: 1;
    font-weight: bold;
  }
  .six {
    text-align: center;
    align-self: center;
    grid-column: 6;
    grid-row: 1;
    font-weight: bold;
  }

  .drop2{ 
    color: black;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(56, 55, 55, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .drop{
  text-align: left;
    align-self: center;
    grid-column: 3;
    grid-row: 1 ;
    font-weight: bold;
    
  position: relative;
  display: inline-block;
  color:black
  }
  
  .drop:hover .drop2 {
  display: block;
  color: black;
  }
  
  .prod{
  color:white;
  font-weight: bold;
  }
  
  .box{
  color: black;
  }

  .sla{
    display: flex;
    border: solid 4px black;
    height: 10em;
    width: 3;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #BCBFBC;
  }

  .frase{
    color: black;
  }

#icones{
  display: flex;
  justify-content: space-around;
  width: 10%;
  width: 100%;
  height: 200px;
}

#icones div{
  width: 200px;
  height: 200px;
  
}
.topi{
  font-size: 25px;
  font-weight: bold;
}

.eita{
  font-size: 15px;
}

  